
.jumbotron {
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(../img/jumbotippignapp.jpg);
background-size: cover;

}
.pricing-table .title {
background-color: #036eaa;
}
.jumbotron {
        padding: 0px;
}
.jumbotron h2 {
    color: #f2f2f2; 

}
.jumbotron span {
    color: #00b057;
}
.jumbotron p {
    color: #f2f2f2;
}
.jumbotron li {
    font-size: 24px;
    color: #f2f2f2;
    text-decoration: none;
    list-style: none;
}

.circle-button{
  margin-left:10px;
  display:inline-block;
  position: relative;
  width:60px;
  height:60px;
  font-family: 'Open Sans', sans-serif;
  text-decoration:none;
  border-radius:40px;
  overflow:hidden;
  text-align:center;
  line-height:1;
}
.circle-button span.small-cap{
  top:2px;
  position: relative;
  z-index: 10;
  font-size:12px;
  color:white;
  line-height:0.2;
}
.circle-button span.single-line{
  top:10px;
}
.circle-button span.large-cap{
  position: absolute;
  top:20px;
  left:-10px;
  z-index: 10;
  color:white;
  font-size:38px;
  font-weight:800;
  letter-spacing:-2px;
  line-height:1.4;
}
.bg{
  border-radius: 0;
	display: block;
	height: 0;
	left: 50%;
	margin: 0;
	position: absolute;
  background-color:#f2f2f2;
	top: 50%;
	width: 0;
}
.circle-button span{
  	-webkit-transition: all 0.3s ease-in-out;
	   -moz-transition: all 0.3s ease-in-out;
	     -o-transition: all 0.3s ease-in-out;
	        transition: all 0.3s ease-in-out;
}
.circle-button:hover span.bg {
	width: 78px;
	height: 78px;
	border-radius: 80px;
	margin: -39px;
}
.blue{
  background-image: linear-gradient(left top, rgb(0, 176, 87) 0%, rgb(0, 176, 87) 100%);
background-image: -o-linear-gradient(left top, rgb(0, 176, 87) 0%, rgb(0, 176, 87) 100%);
background-image: -moz-linear-gradient(left top, rgb(0, 176, 87) 0%, rgb(0, 176, 87) 100%);
background-image: -webkit-linear-gradient(left top, rgb(0, 176, 87) 0%, rgb(0, 176, 87) 100%);
background-image: -ms-linear-gradient(left top, rgb(0, 176, 87) 0%, rgb(0, 176, 87) 100%);

background-image: -webkit-gradient(
	linear,
	left top,
	right bottom,
	color-stop(0, rgb(0, 176, 87)),
	color-stop(1, rgb(0, 176, 87))
);
}
.blue:hover span{
  color:rgb(0, 176, 87);
}

.purple{
  background-image: linear-gradient(left top, rgb(0, 176, 87) 0%, rgb(0, 176, 87) 100%);
background-image: -o-linear-gradient(left top, rgb(0, 176, 87) 0%, rgb(0, 176, 87) 100%);
background-image: -moz-linear-gradient(left top, rgb(0, 176, 87) 0%, rgb(0, 176, 87) 100%);
background-image: -webkit-linear-gradient(left top, rgb(0, 176, 87) 0%, rgb(0, 176, 87) 100%);
background-image: -ms-linear-gradient(left top, rgb(0, 176, 87) 0%, rgb(0, 176, 87) 100%);

background-image: -webkit-gradient(
	linear,
	left top,
	right bottom,
	color-stop(0, rgb(0, 176, 87)),
	color-stop(1, rgb(0, 176, 87))
);
}
.purple:hover span{
  color:rgb(0, 176, 87);
}

.green{
  background-image: linear-gradient(left top, rgb(0, 176, 87) 0%, rgb(0, 176, 87) 100%);
background-image: -o-linear-gradient(left top, rgb(0, 176, 87) 0%, rgb(0, 176, 87) 100%);
background-image: -moz-linear-gradient(left top, rgb(0, 176, 87) 0%, rgb(0, 176, 87) 100%);
background-image: -webkit-linear-gradient(left top, rgb(0, 176, 87) 0%, rgb(0, 176, 87) 100%);
background-image: -ms-linear-gradient(left top, rgb(0, 176, 87) 0%, rgb(0, 176, 87) 100%);

background-image: -webkit-gradient(
	linear,
	left top,
	right bottom,
	color-stop(0, rgb(0, 176, 87)),
	color-stop(1, rgb(0, 176, 87))
);
}
.green:hover span{
  color:rgb(0, 176, 87);
}

.loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url('../img/page-loader.gif') 50% 50% no-repeat rgb(249,249,249);
}
body {
  font: 12px "Lucida Grande", Helvetica, Arial, sans-serif;
background: #f7f7f7 url(../img/bg.png) repeat center top;
}

a {
  color: #00B7FF;
}

.container-max {
  max-width: 900px;
  padding-top: 50px;
}

.container-wide {
  max-width: 1100px;
}

/* custom navbar */
.navbar-default {
  background-color: #333333;
  border-color: #666666;
}
.navbar {
margin-bottom: 0px;
}
.navbar-default .navbar-brand {
  color: #ecf0f1;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #ebebeb;
}
.navbar-default .navbar-text {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #ebebeb;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #ebebeb;
  background-color: #00b057;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #ebebeb;
  background-color: #00b057;
}
.navbar-default .navbar-toggle {
  border-color: #00b057;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #00b057;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ecf0f1;
}
.navbar-default .navbar-collapse{
  border: none;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ecf0f1;
}
.navbar-default .navbar-link {
  color: #ecf0f1;
}
.navbar-default .navbar-link:hover {
  color: #ebebeb;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ebebeb;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ebebeb;
    background-color: #00b057;
  }
}

.btn-primary {
  background-color: #00b057;
  border-color: #00b057;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active {
  background-color: #02944b;
  border-color: #02944b;
}
.btn-primary.disabled:hover,
.btn-primary.disabled:focus,
.btn-primary.disabled:active,
.btn-primary.disabled.active,
.btn-primary[disabled]:hover,
.btn-primary[disabled]:focus,
.btn-primary[disabled]:active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary:hover,
fieldset[disabled] .btn-primary:focus,
fieldset[disabled] .btn-primary:active,
fieldset[disabled] .btn-primary.active {
  background-color: #02944b;
  border-color: #02944b;
}
